@model ParcialAncelmo.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar cliente</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nome" class="control-label">Nome do cliente</label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataDeNascimento" class="control-label">Data de nascimento do cliente</label>
                <input asp-for="dataDeNascimento" class="form-control" />
                <span asp-validation-for="dataDeNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sexo" class="control-label">Sexo do cliente</label>
                <input asp-for="sexo" class="form-control" />
                <span asp-validation-for="sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">E-mail do cliente</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefone" class="control-label">Telefone do cliente</label>
                <input asp-for="telefone" class="form-control" />
                <span asp-validation-for="telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco" class="control-label">Endereço do cliente</label>
                <input asp-for="endereco" class="form-control" />
                <span asp-validation-for="endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
